body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
table {
  margin: 1em auto;
}
.cell input {
  width: 40px;
  height: 40px;

  font-size: 30px;
  text-align: center;
}
td {
  border: 1px solid;
  text-align: center;
}
td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
.testingButton {
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 18px;
}
