body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  /* width: 50%; */
}
table {
  margin: 1em auto;
  margin-left: 10px;
}
.cell input {
  width: 40px;
  height: 40px;

  font-size: 30px;
  text-align: center;
  background-color: white;
}
td {
  border: 1px solid;
  text-align: center;
}
td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
button {
  width: 150px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
}
#button-section {
  display: flex;
  order: 2;
}
#middle-section {
  display: flex;
}
#set-difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
